.navbar {
    display: flex;
}

.navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navItem {
    margin-right: 20px;
}

.navLink {
    text-decoration: none;
    color: #61dafb;
    transition: color 0.3s;
}

.navLink:hover {
    color: #21a1f1;
}