.navbar {
    display: flex;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navItem {
    margin-right: 15px;
}

.navLink {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.navLink:hover {
    color: #FFC107;
}
