.contactItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactItem p {
    margin-right: 10px;
}

button {
    background-color: #e74c3c;
}

button:hover {
    background-color: #c0392b;
}
