.contactItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #2c2c2c;
    border-radius: 5px;
    margin: 10px 0;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.contactItem p {
    margin: 0;
    flex-grow: 1;
    font-size: 1.2rem;
}

button {
    margin-left: 10px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3e3e3e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    z-index: 1000;
}
